/* Fix para ícones do Leaflet não aparecerem */
.leaflet-default-icon-path {
  background-image: url('https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png');
}

.leaflet-container {
  font-family: inherit;
}

.custom-marker {
  background: transparent !important;
  border: none !important;
}
